TG_BOT_TOKEN=your_bot_token_from_botfather
APP_ID=your_app_id_from_my_telegram_org
API_HASH=your_api_hash_from_my_telegram_org
CHANNEL_ID=-100xxxxxxxxxx
OWNER_ID=your_telegram_user_id
PORT=8092
LOG_CHANNEL=@your_log_channel
DATABASE_URL=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=your_db_name
FORCE_SUB_CHANNEL=-100xxxxxxxxxx
ADMINS=
PROTECT_CONTENT=True
